*{
    padding: 0px;
    margin: 0px
}
.camera{
    width: 25px;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.maincontainer{
    position: relative;
    bottom: 50px;
    left:20%;
    background-color: transparent;
    width: 70%;
    height: 25%;
    text-align: center;
    
}
form{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.main{
    border-radius: 50px;
    background-color: white;
    width: 70%;
    position: relative;
    left: 15%;
    box-shadow: 3px rgb(165, 45, 45);
}
.logo{
    width: 30% ;
    border-radius: 0%;
}
.searchbox{
    width: 60%;
    height: 25px;
    border: none;
    position: relative;
    bottom: 3px;
}
.search{
    float: left;
    margin-left: 15px;
    position: relative;
    top: 10px;
}
.camera{
    float: right;
    position: relative;
    margin-right: 15px;
    top: 3px;
}
.mic{
    width: 25px;
    position: relative;
    left: 50px;
    top: 5px;
    marginright: 80px;
}
.corner{
    
    position: absolute;
    top: 3px;
    right: 5px;
    margin: 3px;
}
i{
    height: 40px;
    size: 40px;
    
}
a{
    margin: 5px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.6s all ease;
}
.photo{
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
}
.box{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:transparent;
    position: relative;
    top: 70px;
    right:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s all ease;
    .dots1{
        opacity: 0;
    }
}
.box:hover{
    background-color: rgb(237, 236, 236);
    .dots1{
        opacity: 1;
    }
}
img{
    position: relative;
    left: 15px;
    width: 35px;
    border-radius: 50px;
}
.dots1{
    position: relative;
    bottom: 20px;
    left: 85px;
    
}
.w{
    position: relative;
    top: 40px;
    right: 30px;
}
.y{
    position: relative;
    top: 40px;
    right: 30px;
}
}
